.container {
  --padding: 10px;

  position: relative;
  display: flex;
  gap: 20px;
  padding: var(--padding);
  height: 100vh;
}

.container:focus {
  outline: none;
}

.toolbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.sidebar {
  height: calc(100vh - 2 * var(--padding));
}
